{{!-- crear --}}

<h2>create pokemon</h2>

<form action="/pokemon/create" method="POST">
    Name: <input name="name">
    Photo: <input name="photo">
    Type: <input name="type">
    Id: <input name="id">

    <input type="submit" value="Crear">
</form>